*{
    margin:0;
    padding:none;
    background-color:darkseagreen;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: underline;
    color: green;
}

/* NAVBAR */

.nav {
    background: darkseagreen;
    height: 1rem;
    display: grid;
    
}

.ul_nav {
    display: grid;
    grid-template-columns:50px 50px 50px 50px 50px 50px;
    justify-items: left;
    height:100%;
    -ms-flex-align: left;
}

.li_nav{
    list-style: none;
}
/* END OF NAVBAR */
.title1 {
    background-color: green;
    height:2rem;
    color:darkseagreen;
    padding:1px;
}
p {
    padding-top: 1rem;
}
.subtitle {
    background-color:mediumseagreen;
    color:darkseagreen;
    height:2rem;
    align-items: center;
}
table{
    width: 200px;
    align-items: center;
    text-align: center;
}
th {
    background-color: mediumseagreen;
}
td {
    border-bottom:1px solid mediumseagreen;
}

.samples{
 border-bottom:1px solid mediumseagreen;
 padding:3px;
}


